/Relax/bin
/Relax/obj
/Relax.Interfaces/bin
/Relax.Interfaces/obj
/Relax.Utils/bin
/Relax.Utils/obj
/Relax/*.user
/Relax/Properties/PublishProfiles/*.user
/.vs
/Relax.DesktopClient/bin
/Relax.DesktopClient/obj
/Relax.DesktopClient/*.user
